[Unit]
Description=Omniscient
After=network.target

[Service]
ExecStart=/home/pi70/omniscient/omniscient
Restart=always
Type=simple
User=root
WorkingDirectory=/home/pi70/omniscient

[Install]
WantedBy=multi-user.target
